<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <connectionStrings><add name="dam04Entities" connectionString="metadata=res://*/Models.ModelNavyBeats.csdl|res://*/Models.ModelNavyBeats.ssdl|res://*/Models.ModelNavyBeats.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=10.0.0.99;initial catalog=dam04;persist security info=True;user id=dbadmin_dam04;password=dam04_2025;encrypt=False;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" /><add name="NavyBeatsEntities" connectionString="metadata=res://*/Models.NavyBeatsModel.csdl|res://*/Models.NavyBeatsModel.ssdl|res://*/Models.NavyBeatsModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=10.0.0.99;initial catalog=dam04;persist security info=True;user id=dbadmin_dam04;password=dam04_2025;trustservercertificate=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" /></connectionStrings>
</configuration>