<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <connectionStrings>
    <add name="NaivyBeatsEntities" connectionString="metadata=res://*/Models.ModelNaivyBeats.csdl|res://*/Models.ModelNaivyBeats.ssdl|res://*/Models.ModelNaivyBeats.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=localhost;initial catalog=NaivyBeats;persist security info=True;user id=Joel;password=1234;encrypt=False;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>