<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <connectionStrings>
    <add name="NaivyBeatsEntities" connectionString="metadata=res://*/Models.NaivyBeatsModel.csdl|res://*/Models.NaivyBeatsModel.ssdl|res://*/Models.NaivyBeatsModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=localhost;initial catalog=NaivyBeats;user id=sa;password=1234;encrypt=False;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="dam04Entities" connectionString="metadata=res://*/Models.Management.NaivyBeatsModel.csdl|res://*/Models.Management.NaivyBeatsModel.ssdl|res://*/Models.Management.NaivyBeatsModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=10.0.0.99;initial catalog=dam04;user id=dbadmin_dam04;password=dam04_2025;encrypt=False;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="dam04Entities1" connectionString="metadata=res://*/Models.NaivyBeatsModel.csdl|res://*/Models.NaivyBeatsModel.ssdl|res://*/Models.NaivyBeatsModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=10.0.0.99;initial catalog=dam04;user id=dbadmin_dam04;password=dam04_2025;encrypt=False;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>